<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Estoque</title>
</head>
<body>
    <h1>Bem Vindo ao Controle De Estoque NTI</h1>
    <hul>
        <li>><a href="{% url 'home' %}">INICIO</a></li>
        <li>><a href="{% url 'pessoa.index' %}">Pessoas</a></li>
    </hul>
    {% block content %}
    {% endblock content %}
</body>
</html>